@model GuessSecretNumber.Models.SecretNumber

<table>
    <tr>
        @for (int i = 0; i < @Model.Count; i++)
        {
            <td class="@Model.GuessedNumbers[i].Outcome">
                <span class="tableHeader">@Model.Counting(i) </span>
                <br />
                @if (@Model.GuessedNumbers[i].Outcome == GuessSecretNumber.Models.Outcome.Low)
                {
                    <span>&uarr;</span>
                }
                @if (@Model.GuessedNumbers[i].Outcome == GuessSecretNumber.Models.Outcome.High)
                {
                    <span>&darr;</span>
                }
                @if (@Model.GuessedNumbers[i].Outcome == GuessSecretNumber.Models.Outcome.Right)
                {
                    <span>&#x2713;</span>
                }
                <br />
                @Model.GuessedNumbers[i].Number
            </td>
        }
    </tr>
</table>